page-product-detail {
    ion-row {
        position: relative;
        text-align: center;
        align-items: center;
        
    }
    ion-card {
        height: 400px;
    }

    ion-slide {
        margin: 0;
    }

    .line-separator {
        border-bottom: 1px solid #000000;
        margin: auto 10px;
    }

    ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        
        
       // background-color: #333333;
    }

    li {
        float: left;
    }
    
    li a {
        display: block;
        color: grey;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        border: 1px solid #000000;
        border-radius: 8px;
        margin: 0px 5px;
        width: 60px;
    }
    
    li a:hover {
        background-color: #111111;
    }

    li.active a {
        background-color: #111111;
    }
    
    h3 {
        font-size: 14px;
        color: gray;
    }

    .nama-produk {
        font-size: 28px;
    }

    .harga {
        font-size: 20px;
    }

    .ukuran {
        margin: 10px 15% 20px;
    }
    
    
}
