page-pengiriman {
    [header-title] {
        font-weight: 100;
      }
      ion-item {
        .input-wrapper {
          display: block;
    
          ion-label {
            margin: 0 !important;
    
            &[padding-top] {
              padding-top: 25px;
            }
          }
        }
      }
    .section {
      //margin: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #717171;
    }
    .line-separator {
        border-bottom: 1px solid #717171;
        //margin: auto 20px;
    }

    h2 {
        font-size: 16px;
        
    }
    ion-item {
      ion-thumbnail[item-start] {
          margin: 8px 50px 8px 0;
      }
    }
    

    button {
      ion-item {
        border-radius: 15px solid #111111;
      }
    }


    .button-outline-md {
      width: 100%;
      border-radius: 5px;
      height: 60px;
      img {
        float:left;
      }
      margin-bottom: 12px;
    }

      ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
    }

      li {
          .right-item {
              float: right;
          }
      }

      .toolbar-title{
        //color: white;
        text-align: right;
        color: white;
      }
    .toolbar-background {
        background-color: black;
      }
      .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: white;
      }
      

      .biaya {
        border: 1px solid #111111;
        border-radius: 15px;
        padding: 10px;
        font-weight: bold;
      }
        
}
