page-cart {
    .button-close {
        position: relative;
        margin: 0;
        float: right;
    }

    ion-list {
        //margin: 0;
        //border-top: 1px solid #717171;
        margin: auto 20px;
    }

    .line-separator {
        border-bottom: 1px solid #717171;
        margin: auto 20px;
    }

    h2 {
        font-size: 16px;
        margin: 20px;
    }

    ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
    }

    li {
        padding-bottom: 10px;
        button {
            float: right;
        }
    }

    .harga {
        font-size: 18px;
        float: right;
        font-weight: bold;
    }

    .subtotal {
        
        margin: auto 20px;

        font-size: 22px;
        float: right;
        font-weight: bold;
    }

    .button-small-md {
        box-shadow: none;
        width: 50px;
    }


    .toolbar-title{
        //color: white;
        text-align: right;
        color: white;
      }
    .toolbar-background {
        background-color: black;
      }
      .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: white;
      }
      
}
