<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title>Home</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <ion-segment [(ngModel)]="tabmen">
      <ion-segment-button value="promo">
        <ion-icon name="ios-flash-outline"></ion-icon> Promo
      </ion-segment-button>
      <ion-segment-button value="kategori">
        <ion-icon name="md-grid"></ion-icon> Kategori
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="tabmen">
    <ion-list *ngSwitchCase="'promo'">
      <li no-margin *ngFor="let group of kategori;">
        <div>
            <ion-item no-margin padding no-lines background-size [ngStyle]="{'background-image': 'url( assets/imgs/dashboard/' + group.nama_kat_produk + '.jpg )'}">
                <h2 item-title float-left>{{ group.nama_kat_produk }}</h2>
            </ion-item>
        </div>
      </li>
    </ion-list>

    <ion-list no-margin *ngSwitchCase="'kategori'">
      <ul no-margin no-padding>
        <li no-margin *ngFor="let group of kategori;" (click)="openKategori(group.id_kat_produk);">
            <button ion-item no-padding no-lines>
                <ion-thumbnail item-start no-margin>
                    <img src="assets/imgs/kategori/{{ group.nama_kat_produk }}.png" alt="{{group.title}}" />
                </ion-thumbnail>
                <div title-block>
                    <h2  item-title padding-right>{{ group.nama_kat_produk }}</h2>
                </div>
            </button>
        </li>
      </ul>
    </ion-list>
  </div>
</ion-content>
