page-product {
    ion-card {
        position: relative;
        text-align: center;
       img {
        height: 200px;
       }
      }

 
      .card-md {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
  
    
      .card-title {
        position: relative;
        //bottom: 10%;
        font-size: 14px;
        width: 100%;
        font-weight: bold;
        color: #000000;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
      }
   

      
      ion-title {

      }

      .toolbar-title{
        //color: white;
        text-align: right;
        color: white;
      }
    .toolbar-background {
        background-color: black;
      }
      .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: white;
      }
      
}
