<ion-header>
    <ion-toolbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        
        <ion-title>ELEVANT</ion-title>

        <ion-buttons end>
        <button ion-button icon-only>
            <ion-icon name="cart"></ion-icon>
        </button>
        </ion-buttons>
    </ion-toolbar>
    <ion-navbar>
        <ion-title class="bar"> {{ nama }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
  <!--Theme Category 1 (Animals)-->
 <!--<ion-grid no-padding *ngIf="produk != null">
      <ion-row no-padding>
          <ion-col col-6 col-sm-3 col-md-6 col-lg-4 col-xl-3 *ngFor="let p of produk;let i = index;">
              <ion-card no-margin background-size [ngStyle]="{'background-image': 'url( assets/imgs/kategori/2_c.png )'}">
                  <div gallery-title>
                      <!--<p item-subtitle>{{ p.items.length}} image(s)</p>
                      <h2 item-title text-wrap>{{ p.nama_produk }}</h2>
                      
                  </div>
              </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>
-->
<ion-grid no-padding *ngIf="produk != null">
    <ion-row no-padding>
        <ion-col col-6 col-sm-3 col-md-6 col-lg-4 col-xl-3 *ngFor="let p of produk;let i = index;">
           
                <ion-card (click)="openDetail(p)">
                    <img src="assets/imgs/produk/2_c.jpg"/>
                    <ion-card-content no-padding>
                        <ion-card-title>
                        {{ p.nama_produk }}
                        </ion-card-title>
                        <p>
                        {{ p.harga }}
                        </p>
                    </ion-card-content>
                </ion-card>
    
        </ion-col>
    </ion-row>
</ion-grid>  

</ion-content>
